
<div class="container">
  <div class="card m-5" style="width: 36rem; border-radius: 16px; box-shadow: 5px 5px 5px #456268;">
    <div class="card-body">
    <div class="titles">
      <h2 class="card-title text-center"><%= @book.title %> (<%= @book.edition %>th edition)</h2>
      <h3 class="card-subtitle mb-2 text-muted text-center">Author: <%= @book.author %></h3>
    </div>
    <div>
    <img src="https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-thumbnail" alt="">
    </div>
      <div class="d-flex justify-content-around m-3">
        <%= link_to "Do a Booking", new_book_booking_path(@book), class: "btn btn-primary", style: "background-color: #276678; border-radius: 50px;" %>
        <%= link_to "Bookings",  book_bookings_path(@book), class: "btn btn-primary", style:"color: white; background-color: #1687A7; border-radius: 50px;" %>
        <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary", style: "background-color: #276678; border-radius: 50px;"%>
        <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure on deleting this precious book?"}, class: "btn btn-primary", style:"background-color: #1687A7; border-radius: 50px;"%>
      </div>
    </div>
  </div>
</div>
