<div class="card-trip">
  <img src="https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" />
</div>
<div class="card-book m-5">
  <div class="img-book">
    <img src="https://images.pexels.com/photos/256450/pexels-photo-256450.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" />
  </div>
  <div class="card w-75">
    <div class="card-body">
      <h2 class="card-title"><%= @book.title %> (<%= @book.edition %>th edition)</h2>
      <p>Author: <%= @book.author %></p>
      <div class="btn-book">
        <%= link_to "Do a Booking", new_book_booking_path(@book), class: "btn btn-primary", style: "background-color: #276678; border-radius: 50px;" %>
        <%= link_to "Bookings",  book_bookings_path(@book), class: "btn btn-primary", style:"color: white; background-color: #1687A7; border-radius: 50px;" %>
        <% if policy(@book).edit? %>
          <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary", style: "background-color: #276678; border-radius: 50px;"%>
          <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure on deleting this precious book?"}, class: "btn btn-primary", style:"background-color: #1687A7; border-radius: 50px;"%>
        <% end %>
      </div>
      <p class="card-text">In this stunning book, Malcolm Gladwell takes us on an intellectual journey through the world of outliers"-- and the brightest, the most famous and the most successful. He asks the question: what makes high-achievers different?</p>
    </div>
  </div>
</div>
